<h1>Register New Account</h1>

<div>
  <div>
    Email: <input type="text" placeholder="Email" ng-model="((user.email))">
  </div>
  <div>
    First Name: <input type="text" placeholder="First name" ng-model="((user.first_name))">
  </div>
  <div>
    Last Name: <input type="text" placeholder="Last name" ng-model="((user.last_name))">
  </div>
  <div>
    Username: <input type="text" placeholder="Username" ng-model="((user.username))">
  </div>
  <div>
    Password: <input type="password" placeholder="Password" ng-model="((user.password))">
  </div>
  <button type="submit" ng-click="register()">Log In</button>
</div>